.submission-file{
    width: 500px;
    background-color: rgb(243, 243, 243);
    border: 2px black solid;
    border-radius: 4px;
    box-shadow: 5px 2px 5px black;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.custom-text-area{
    margin-left: 0px;
}

.custom-search-input{
    margin: 0;
}

.custom-search-button{
    margin: 0;
    margin-left: 5px;
}
